<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.gtmc.glaf2.mapper.common.CommonMapper">
     <select id="findSeq" parameterType="string" resultType="string">
		select #{value}.nextval seq from dual
	</select>
	
    <select id="resetSeq" parameterType="string" statementType="CALLABLE">
    	CALL reset_seq(#{seqName})
    </select>
	
</mapper>