<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.gtmc.glaf2.mapper.security.UserTempMapper">

	<sql id="base_column">
        dept_id,login_name,emp_code,name,sex,telephone,mobile,email,status,
        created_time,updated_time
 	</sql>
	
	<!-- findById -->
    <select id="findById" parameterType="java.io.Serializable" resultType="cn.com.gtmc.glaf2.entity.security.UserTemp">
        select id,
        <include refid="base_column"/>
        from u_user_temp where id = #{id}
    </select>
	
	<select id = "findAll" resultType="cn.com.gtmc.glaf2.entity.security.UserTemp">
	    select id,<include refid="base_column"/> from u_user_temp
	</select>
	
	
	
</mapper>
